[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
pillow = "9.3.0"
flask-bootstrap = "*"
flask-wtf = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
